@theme "./Quiet.rasi"
configuration {
    icon-theme: "Papirus";
    modi: "window,drun,run,keys";
    drun {
        parse-system: false;
    }
    filebrowser {
        sorting-method: "name";
    }
}
